.place__url-heading {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0 0 12px;
    
}
@media screen and (max-width: 320px) {
    .place__url-heading {
        padding: 0 16px;
    }
}  